* {
    border: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

body.active {
    overflow: hidden;
}

a {
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 75px;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    opacity: 0;
    translate: 0 101vh;
    transition: translate .75s, opacity 1s;
}

.links-container > ul {
    list-style-type: none;
}

.links-container > ul > li {
    font-size: 36px;
    margin: 12px;
    color: black;
} 

.links-container.active {
    z-index: 100;
    opacity: 1;
    translate: 0 100px;
}

.line {
    width: 100vw;
    background: black;
    height: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    gap: 5px;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.bar {
    display: block;
    background: black;
    background-color: black;
    height: 1px;
    width: 30px;
    transition: all .5s;
}

.active.bar:nth-child(1){
    rotate: 225deg;
    translate: 0 3px;
}

.active.bar:nth-child(2){
    rotate: -225deg;
    translate: 0 -3px;
}

.content-container {
    transition: opacity .5s;
}

.active.content-container {
    opacity: 0;
    z-index: 0;
}

section {
    padding: 20px 0;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-holder {
    height: 528px;
    width: 352px;
}

.haze {
    position: absolute;
    height: 528px;
    width: 352px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 4vh;
    transition: all .25s;
    cursor: pointer;
    user-select: none;
}

.haze:hover,
.haze:hover.image-holder-text {
    opacity: 0;
}

.photo {
    height: 528px;
    width: 352px;
    position: absolute;
    background-size: cover;
}

.image-holder-text {
    margin-top: 56px;
    transition: all .25s;
}

.image-holder-text:hover {
    opacity: 0;
}

.landscapes {
    background-image: url("./images/landscapes.jpg");
}

.portraiture {
    background-image: url("./images/portraiture.jpeg");
}

.commercial {
    background-image: url("./images/commercial-work.jpeg");
}

.film-work {
    background-image: url("./images/film-image.jpeg");
    background-position-x: 35%;
}

.ending-paragraph {
    font-size: 26px;
    padding: 0 10px;
    margin: 0 10px;
}

#final-section {
    height: 250px;
    min-height: 0;
}