* {
    border: 0;
    margin: 0;
}

body.active {
    overflow: hidden;
}

a {
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 75px;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* bottom: -100px; */
    translate: 0 600px;
    z-index: -1;
    opacity: 0;
    transition: translate 1s;
}

.links-container > ul {
    list-style-type: none;
}

.links-container > ul > li {
    font-size: 36px;
    margin: 12px;
    color: black;
} 

.links-container.active {
    z-index: 100;
    opacity: 1;
    translate: 0 100px;
}

.line {
    width: 100vw;
    background: black;
    height: 1px;
}

h3 {
    font-family: orpheus-pro;
    font-weight: 200;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    gap: 5px;
}

.bar {
    display: block;
    background: black;
    background-color: black;
    height: 1px;
    width: 30px;
    transition: all .5s;
}

.active.bar:nth-child(1){
    rotate: 225deg;
    translate: 0 3px;
}

.active.bar:nth-child(2){
    rotate: -225deg;
    translate: 0 -3px;
}

.content-container {
    transition: opacity .5s;
}

.active.content-container {
    opacity: 0;
    z-index: 0;
}

section {
    padding: 20px 0;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-holder {
    height: 528px;
    width: 352px;
}

.photo {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.landscapes {
    background-image: url("./images/landscapes.jpg");
}

.portraiture {
    background-image: url("./images/portraiture.jpeg");
}

.commercial {
    background-image: url("./images/commercial-work.jpeg");
}

.film-work {
    background-image: url("./images/film-image.jpeg");
    background-position-x: 35%;
}