* {
    border: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    font-weight: 400;
}

body {
    touch-action: manipulation;
}

body.active {
    overflow: hidden;
}

#header-title {
    text-decoration: none;
}

a {
    color: black;
}

.secondary-title {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
}

.page-paragraph {
    padding: 0 10px;
    text-align: center;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 75px;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    opacity: 0;
    translate: 0 70vh;
    transition: translate .75s;
}

.links-container>ul {
    list-style-type: none;
}

.links-container>ul>li {
    font-size: 36px;
    margin: 12px;
    color: black;
}

.links-container.active {
    z-index: 100;
    opacity: 1;
    translate: 0 140px;
}

.line {
    width: 100vw;
    background: black;
    height: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    gap: 5px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.bar {
    display: block;
    background: black;
    background-color: black;
    height: 1px;
    width: 30px;
    transition: all .5s;
}

.active.bar:nth-child(1) {
    rotate: 225deg;
    translate: 0 3px;
}

.active.bar:nth-child(2) {
    rotate: -225deg;
    translate: 0 -3px;
}

.content-container {
    transition: opacity .5s;
}

.active.content-container {
    opacity: 0;
    z-index: 0;
}

section {
    padding: 20px 0;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-holder {
    height: 528px;
    width: 352px;
    display: flex;
}

.haze {
    position: absolute;
    height: 528px;
    width: 352px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 4vh;
    transition: all .25s;
    cursor: pointer;
    user-select: none;
}

.haze:hover,
.haze:hover.image-holder-text {
    opacity: 0;
}

.photo {
    height: 528px;
    width: 352px;
    position: absolute;
    background-size: cover;
    object-fit: cover;
}

.image-holder-text {
    margin-top: 56px;
    transition: all .25s;
}

.image-holder-text:hover {
    opacity: 0;
}

.film-work {
    object-position: -40vh;
}

.ending-paragraph {
    font-size: 2vmax;
    padding: 0 10px;
    margin: 0 10px;
}

#final-section {
    height: 250px;
    min-height: 0;
}

.slideshow-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 430px;
    padding-bottom: 10px;
}

.gallery-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 52px);
    height: 400px;
}

.arrow {
    height: 20px;
    width: 16px;
    cursor: pointer;
}

.left {
    margin-left: 10px;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.right {
    margin-right: 10px;
}

.arrow>img {
    height: 100%;
    width: 100%;
}

.gallery-image {
    width: 311px;
}

.bottom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.right-link,
.left-link {
    font-size: 20px;
    width: 174px;
}

.right-link>a,
.left-link>a {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-link>a>h3,
.left-link>a>h3 {
    width: 150px;
}

.after-link {
    height: 32px;
    width: 24px;
    margin: 0;
}

.about-text-container {
    margin-top: 20px;
    padding-top: 40px;
    background-size: cover;
    min-height: 90vh;
}

.portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#self-portrait {
    border-radius: 26vmax;
    height: 33vmax;
    width: 54vmin;
    object-fit: cover;
    object-position: center;
    background-size: 50px;
}

.about-first-para {
    margin: 10px 0;
    font-size: 2vmax;
    padding-bottom: 20px;
    text-align: center;
}

.about-second-para {
    font-size: 1.7vmax;
    text-align: center;
}

label {
    display: inline-block;
    max-width: 80vw;
}

.input {
    position: relative;
    left: 16px;
    margin: 20px 0;
}

.inner-input {
    gap: 10px;
}

input,
textarea {
    position: relative;
    width: 40vw;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 30px;
    margin: 10px 0;
}

#service-type {
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid #ccc;
}

textarea,
#when-where {
    width: 82vw;
}

textarea {
    min-height: 60px;
}

.required {
    margin: 0 2px;
}

#submit-form {
    position: relative;
    width: 180px;
    height: 70px;
    border-radius: 2px;
    background-color: #fafafa;
    color: #ccc;
    ;
    border: 1px solid #ccc;
    ;
    left: 16px;
    transition: all .25s;
    font-weight: 500;
}

#submit-form:hover {
    border: 1px solid #ccc;
    background-color: black;
    cursor: pointer;
    color: white;
}


@media (min-width: 1200px) {

    body {
        overflow-x: hidden;
    }

    header {
        justify-content: flex-start;
        height: 8vh;
        gap: 2vmin;
    }

    .subject-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        margin: 1vh;
    }

    #hamburger-menu {
        display: none;
    }

    .links-container {
        justify-content: flex-start;
        align-items: center;
        position: static;
        translate: none;
        opacity: 1;
        z-index: inherit;
        flex-direction: row;
        width: 700px;
    }

    .links-container>ul {
        display: flex;
        align-items: center;
        gap: 1.5vmin;
        padding: 0;
    }

    .links-container>ul>li,
    .links-container>ul>li>a,
    #header-title {
        display: flex;
        align-items: center;
    }

    #header-title,
    .links-container>ul>li>a {
        text-decoration: none;
        font-size: 2vmin;
    }

    .photo,
    .haze,
    .image-holder {
        width: 100%;
        height: 100vh;
    }

    .image-holder {
        position: relative;
    }


    .gallery-image,
    .gallery-image-holder {
        height: 80vh;
        width: auto;
    }

    .slideshow-container {
        justify-content: space-between;
    }

    .left {
        margin-left: 30px;
    }

    .right {
        margin-right: 30px;
    }

    .arrow {
        height: 60px;
        width: 48px;
    }

    .ending-paragraph {
        font-size: 2vmin;
    }

    .about-text-container {
        background-position: center;
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    .about-text-container>p {
        width: 50vw;
        text-align: center;
    }

}